

  .header{

    background-color: $white;
    width:100%;
    display:flex;
    flex-flow: wrap;
    //justify-content: space-around;


    
    .pageLink{

      order:2;
      align-self: stretch;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-wrap:wrap;


      @media only all and (max-width: 1200px) {
        order:3;
        background-color: $light-gray;
        width:100%;
        padding: 15px ;
      }
      @media only all and (max-width: 450px) {
        font-size: 12px;
        padding: 5px;
      }
    }

    .activePage{
      background-color: cyan;
    }
}

