
  .header__container{
    background-color: $light-gray;
    width:100%;
    display:flex;
    flex-flow: wrap;
    justify-content: flex-start;
    margin:0px auto;
}

.header__links{
  font-family:$robo_font;
}

.header__pageLink{
      order:2;
      align-self: stretch;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-wrap:wrap;
      width:10rem;
      font-size:$font-lrg;
      text-decoration: none;
      color:$white;
  
      @media only all and (max-width: 1200px) {
        order:3;
       width:100%;
        //padding: 15px ;
      }
      @media only all and (max-width: 450px) {
        font-size: 12px;
        //padding: 5px;
      }
}

.header--activePage{
  text-decoration: underline;
  text-decoration-color: $gray;
}

.header__title{
  color:$white;
  font-family:$raleway_font;
  font-size:2rem;
  letter-spacing: 3px;
 
  font-size: $font-xlrg;
  text-transform: uppercase;
  margin-left:50px;
  
}

