.hero{
  
  background-color: $fore-white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-family: $raleway_font;
  font-size:10pt;
  letter-spacing: 4px;
  line-height: $font-lrg;
  color:$darker-gray;
  margin-top:0;

  display:flex;

  justify-content: center;
  width:100%;
  align-items: center;


  @media all and (max-width: $mobile-app-width) {
    align-items: center;
    flex-direction: column;
  }
}

  .hero__subtitle{
    font-family: $raleway_font;;
    font-size:30pt;
    color:$darker-gray;
 
    @media all and (max-width: 200px) {
      font-size:15pt;
    }
  }

.hero__bioimg{
  display:block;
  background-color: $light-gray;
  $imageSize:200px;
  width: $imageSize;
  height: $imageSize;
  border-radius:  $imageSize/2;
  margin:50px;
  flex-shrink: 0;
}

.hero__biotxt{
  display:block;
  flex-shrink: 4;
  margin:50px;
};
