.hero{
  background-color: $light-gray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-family: $text;
  
  height:500px;
  @media all and (max-width: 700px) {
    background-image: url("/tripImages/Australia/Amex_Mobile Hero4.jpg");
  }



  .hero__title{

    font-size:10pt;
    letter-spacing: 4px;
    line-height: $font-lrg;
    color:$darker-gray;
    //padding: px;


    @media all and (max-width: 700px) {
      padding-top: 0;
      margin-left: auto;
      margin-right: auto;
      width:135px;

    }


    hr {
        border: 0;
      	border-top: 0.25px solid;
        width: 135px;
        color:$dark-gray;
        margin-left: auto;
        margin-right: auto;
    }

    small{
      font-size:18pt;
      letter-spacing: 2px;
      vertical-align:35%;
      padding-left: 20px;
      padding-right: 20px;
      }

  }

  .hero__subtitle{
    font-family: $font-normal;
    font-size:30pt;
    color:$darker-gray;
 
    @media all and (max-width: 200px) {
      font-size:15pt;
    }
  }

  .presented{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:-10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:15px;

    padding-left: 30px;
    padding-right: 30px;
    width:50%;

    font-family: $font-italic;
    color:$darker-gray;

    p{
      margin-left: 15px;
    }
    .amex-card{
      flex-shrink: 0;
      width:112.5px;
      height:75px;
      margin-left:15px;
      margin-right:15px;
    }
  }


};
