
  .projects{    
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	align-content: space-around;
	width:100%;
	margin-top:50px;
	
  };
  
 .projectItem {
	margin:15px;
	width:25%;
	max-width:500px;
	background-color: $fore-white;
	border-radius: $borderRadius;
	box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
	@media all and (max-width: $mobile-app-width) {
		width:100%;
	
	  }

  }

  .projectItem__image{
	width:100%;
	max-height:300px;
	object-fit: contain;
	border-radius: $borderRadius $borderRadius 0 0;
	@media all and (max-width: 230px) {
	  font-size:16px;
	}
  }

  .projectItem__title{

		font-family:$raleway_font;
		font-size:  $font-lrg;
		text-align: left;
		max-width: 100%;
		margin-left:10px;
  }

  .project-description{
	color: $black;
	font-size:14px;
	font-family: $raleway_font;;
	letter-spacing: $letter-space;
	text-align: left;

  }

