
   .projects{    
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    width:100%;
  };
  
 .project {
   background-color: cyan;
    flex-shrink: 1;
    width: 200px;
    height:200px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;

    .project-image{
      background-color:$dark-gray ;
      width: 200px;
    }

    .project-title{
      color: $black;
      font-family: $font-title;
      font-size:  32px;
      text-align: left;
      max-width: 100%;
      line-height: normal;

      @media all and (max-width: 230px) {
        font-size:16px;
      }
    }

    .project-description{
      color: $black;
      font-size:14px;
      font-family: $font-normal;
      letter-spacing: $letter-space;
      text-align: left;

    }

  }

