<% provide(:title, "Contact") %>

<div class = "contact">
	<h1 class = "name">Paul Rudolph<h1>
  	<h2>Say hi<h2>
  	<p>paul.e.rudolph@gmail.com</p>
    <br>
    <h2>See what I'm up to<h2>
    <a href="https://www.linkedin.com/pub/paul-rudolph/31/987/4a5" target = "blank">Linkedin</a>
    <a href="https://github.com/prudolph"  target="blank">Github</a>
    <a href="./docs/Resume_PaulRudolph_Nov2014.pdf">Resume</a>
 </div>