<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Hello</p>


<form action="/quotes" method="POST">
  <input type="text" placeholder="projectName" name="projectName">
  <input type="text" placeholder="projectDescription" name="projectDescription">
  <button type="submit">Submit</button>
</form>
