
  {{#each data}}
  <div class="projectEntry">
    Title:{{title}}
    <button type="button" onclick="location.href='/admin/editProject/{{id}}';" value="Edit">Edit</button>
  </div >
  {{/each}}

  <button type="button" onclick="location.href='/admin/addProject/';" value="Create">Create</button>
