
{{error_messages}}

<div class="upload">
  <h2>Add Project</h2>

  <form id="upload-form" action="/admin/addProject"  method="post">
    {{> form}}
    <button class="btn btn-lg btn-primary" type="submit">Save</button>
  </form>
