.about {
  color: white;
  display: flex;
  align-content: stretch;
  margin-bottom: 50px;
  background-color: #393d51; }
  .about .profileImage {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 50px 20px;
    border-radius: 50%; }
  .about .aboutText {
    margin: 50px 20px;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 18px;
    line-height: 30px; }
