.header {
  background-color: black;
  width: 100%;
  height: 100px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .header h1 {
    margin-left: 50px;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: white; }
