@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed|Montserrat");
.header {
  background-color: black;
  width: 100%;
  height: 100px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .header h1 {
    margin-left: 50px;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: white; }

.about {
  color: white;
  display: flex;
  align-content: stretch;
  margin-bottom: 50px;
  background-color: #393d51; }
  .about .profileImage {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 50px 20px;
    border-radius: 50%; }
  .about .aboutText {
    margin: 50px 20px;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 18px;
    line-height: 30px; }

.projectsContainer {
  background-color: #2e3141;
  display: flex;
  flex-flow: row wrap; }
  .projectsContainer .project {
    width: 40%;
    height: 300px;
    margin: 10px 5%;
    background-color: #353849;
    color: white;
    font-size: 12px; }
    .projectsContainer .project .image {
      background-color: cyan;
      width: 100%;
      height: 200px;
      margin-bottom: 10px;
      object-fit: cover; }
    .projectsContainer .project .text {
      margin-left: 10px; }
      .projectsContainer .project .text h1 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
        text-transform: uppercase; }
      .projectsContainer .project .text,
      .projectsContainer .project .text h2 {
        padding: auto 15px;
        font-family: 'Raleway', serif;
        font-size: 16px; }
      .projectsContainer .project .text hr {
        margin-left: 0px;
        width: 75%;
        border-color: gray; }

.projectDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: white;
  font-family: 'Montserrat Light', sans-serif;
  font-size: 10px;
  margin: 25px; }
  .projectDetail .titleContainer {
    width: 100%;
    height: 500px;
    background-color: tomato;
    position: relative; }
    .projectDetail .titleContainer .hero {
      border-style: none;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .projectDetail .titleContainer .overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: .50; }
    .projectDetail .titleContainer .title {
      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translateX(-50%);
      top: 25%;
      text-transform: uppercase;
      font-size: 30px; }
      .projectDetail .titleContainer .title h1 {
        display: flex;
        align-items: center;
        font-size: 40px; }
      .projectDetail .titleContainer .title hr {
        opacity: .25; }
  .projectDetail .content {
    display: flex;
    justify-content: space-between;
    margin: 50px 10px; }
    .projectDetail .content .description {
      width: 75%; }
      .projectDetail .content .description h1 {
        font-size: 18px;
        text-transform: uppercase; }
      .projectDetail .content .description p {
        line-height: 26px;
        font-size: 16px; }
    .projectDetail .content .facts {
      background-color: gray;
      height: 200px; }
      .projectDetail .content .facts h1 {
        font-size: 16px;
        text-transform: uppercase; }
      .projectDetail .content .facts p {
        font-size: 14px; }
  .projectDetail .media {
    display: flex;
    flex-flow: row wrap; }
    .projectDetail .media img {
      width: 45%;
      height: 25%;
      margin: 2%; }

.upload {
  color: white; }

.projectEntry {
  color: white; }

.hero {
  border-style: solid;
  border-width: 5px;
  border-color: red; }

body {
  margin: unset;
  line-height: 22px;
  background-color: #2e3141; }
