@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed|Montserrat');


$raleway_font:'Raleway', sans-serif;
$robo_font:'Roboto+Condensed';
$mont_font:'Montserrat Light', sans-serif;




// Colors
$dark-clr:  #A498A0;
$med-clr:   #E5E4E5;
$light-clr: #C3BDC1;

$accent-clr:#D1D7D0;

$bkg-white :#F4F4F5;
$fore-white:#f8fafb;
$black:       #000000;



$gray:        #808285;
$dark-gray:   #818285;
$darker-gray:  #231f20;
$white:       #ffffff;


$bkg-clr:#FFFFFF;
$hero-clr:$white;
$txt-clr:#d2d0d4;
$title-clr:#d2d0d4;


//sizes
$font-xlrg: 2.2rem;
$font-lrg: 2rem;
$font-sm: 1.6rem;
$letter-space: 1px;

$mobile-app-width:700px;
$borderRadius:5px;