.project {
  background-color: yellow;
  width: 250px;
  height: 500px;
  margin: 50px; }

.projectList {
  margin-top: 100px;
  background-color: cyan;
  width: 100%; }

.header {
  background-color: tomato;
  height: 100px;
  width: 100%; }
  .header h1 {
    color: white;
    text-align: center;
    margin-top: 50px; }
