@font-face{
    font-family:"Canela-Regular";
    src:url("/fonts/Canela-Regular.otf");
    //src:url(#{ cdn("/fonts/nike_310/d3b44831-9f19-465e-8bf6-ba20338db4a2.eot?#iefix")}) format("eot"),
}
@font-face{
    font-family:"Canela-Medium";
    src:url("/fonts/Canela-Regular.otf");
}

@font-face{
    font-family:"FarnhamDisplay-RegularItal";
    src:url("/fonts/FarnhamDisplay-RegularItal.otf");
}


@font-face{
    font-family:"FoundersGrotesk-Light";
    src:url("/fonts/FoundersGrotesk-Light.otf");

}

@font-face{
    font-family:"FoundersGroteskCond-Bold";
    src:url("/fonts/FoundersGroteskCond-Bold.otf");
}
@font-face{
    font-family:"FoundersGroteskCond-SmBd";
    src:url("/fonts/FoundersGroteskCond-SmBd.otf");
}
