@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed|Montserrat');

$font-title:  'Canela-Regular';
$font-bold:   'FoundersGroteskCond-Bold';
$font-normal: 'FoundersGrotesk-Light';
$font-italic: 'FarnhamDisplay-RegularItal';

$header_font:'Raleway', sans-serif;
$robo_font:'Roboto+Condensed';
$sub_font:'Roboto', sans-serif;;
$text:'Montserrat Light', sans-serif;
// Colors
$black:       #000000;
$light-gray:  #393d51;
$gray:        #808285;
$dark-gray:   #818285;
$darker-gray:  #231f20;
$white:       #ffffff;
$red:         #ee566c;

//sizes

$font-xlrg: 2.2rem;
$font-lrg: 2rem;

$letter-space: 1px;
