
.projectDetail{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
  color:white;
  font-family:'Montserrat Light', sans-serif;
  font-size: 10px;
  margin: 25px;

  .titleContainer{
    width: 100%;
    height:500px;
    background-color: tomato;
    position:relative;

    .hero{
      width: 100%;
      height:100%;
      object-fit:cover;
    }

    .overlay{

      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      background-color: black;

      opacity:.50;
    }

    .title{
      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translateX(-50%);
      top: 25%;

      text-transform: uppercase;
      font-size: 30px;

      h1{
        display: flex;
        align-items: center;
        font-size: 40px;
      }

      hr{
        opacity: .25;
      }
    }
  }

  .content{
    display: flex;
    justify-content: space-between;
    margin: 50px 10px;


    .description{
      width:75%;

      h1{
        font-size: 18px;
        text-transform: uppercase;

      }
      p{
        line-height: 26px;
        font-size: 16px;

      }
    }

    .facts{
      background-color: gray;
      h1{
        font-size: 16px;
        text-transform: uppercase;
      }

      p{
        font-size: 14px;
      }
    }

  }

  .media{

    display: flex;
    flex-flow: row wrap;

    img{
      width:45%;
      height:25%;
      margin:2%;
    }
  }
}
