
  <div class="project" id="{{id}}" onclick="openProject('{{id}}')">
    <img class="image" src="/images/sample.jpg">
    <div class="text">
      <h1>{{title}}</h1>
      <hr>
      <h2>{{description}}</h2>
    </div>
  </div>
