@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed|Montserrat");
.header {
  position: sticky;
  width: 100%;
  background-color: yellow;
  height: 100px;
  margin-bottom: 10px; }

.about {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
  background-color: #393d51; }
  .about .profileImage {
    float: left;
    width: 45%;
    height: 100px;
    background-color: red; }
  .about .aboutText {
    float: right;
    width: 45%;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 10px; }

.projectsContainer {
  background-color: #2e3141;
  display: flex;
  flex-flow: row wrap; }
  .projectsContainer .project {
    width: 40%;
    height: 300px;
    margin: 10px 5%;
    background-color: #353849;
    color: white;
    font-size: 12px; }
    .projectsContainer .project .image {
      background-color: cyan;
      width: 100%;
      height: 200px;
      margin-bottom: 10px; }
    .projectsContainer .project .text {
      margin-left: 10px; }
      .projectsContainer .project .text h1 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 15px;
        text-transform: uppercase; }
      .projectsContainer .project .text,
      .projectsContainer .project .text h2 {
        font-family: 'Raleway', serif;
        font-size: 12px; }
      .projectsContainer .project .text hr {
        margin-left: 0px;
        width: 75%;
        border-color: gray; }

.projectDetail {
  width: 100%;
  height: 100%;
  background-color: tomato; }

.upload {
  color: white; }

body {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #2e3141; }
