.about{
  color: white;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin:50px auto;
  background-color: #393d51;

  .profileImage{

    float:left;
    width:100px;
    height:100px;
    background-color: red;
    margin: 50px 20px;

  }

  .aboutText{

    margin: 50px 20px;
    width:40%;
    font-family:'Montserrat Light', sans-serif;
    font-size: 18px;
    line-height: 30px;
  }
}
