.about{

  color: white;

  display:flex;
  flex-direction:row;
  justify-content:space-around;
  //align-items: center;

  margin-bottom:50px;
  background-color: #393d51;

  .profileImage{
    float:left;
    width:45%;
    height:100px;
    background-color: red;
  }

  .aboutText{
    float:right;
      width:45%;
    font-family:'Montserrat Light', sans-serif;
    font-size: 10px;
  }
}
