.editorWrapper,#mediaURLS{

    background-color:lightgray; 
    margin:auto;
    width:80%;
    min-height: 200px;
}


.saveBtn{

    width:100px;
    height:100px;
    background-color:cyan;
    margin:auto;
    float:center;
}

