
// .projectDetail__Overlay{

//   position: fixed;
//   top: -10px;
//   left: -10px;
//   right: -10px;
//   bottom: -10px;
//   background-color: rgba(0, 0, 0, 0.85);


//   -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
//   -moz-animation: fadein 1s; /* Firefox < 16 */
//    -ms-animation: fadein 1s; /* Internet Explorer */
//     -o-animation: fadein 1s; /* Opera < 12.1 */
//        animation: fadein 1s;
// }


// @keyframes fadein {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }

// /* Firefox < 16 */
// @-moz-keyframes fadein {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }

// /* Safari, Chrome and Opera > 12.1 */
// @-webkit-keyframes fadein {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }

// /* Internet Explorer */
// @-ms-keyframes fadein {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }

// /* Opera < 12.1 */
// @-o-keyframes fadein {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }


// .projectDetail{
//   display: flex;
//   flex-direction: column;
// }


.projectDetail_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}


.projectDetail__carousel{

    margin: auto;
    width:960px;
    height:540px;

}

.projectDetail__carousel,img, video{
  width:960px;
  height:540px;
  object-fit: contain;
}


.projectDetail__info{
  
  display:flex;
  justify-content: center;
  margin:5% -10px;
  //background-color:#A498A0;
  //background-color:white;
  height:100%;
	//@media all and (max-width: $mobile-app-width) {
    align-items: center;
    text-align: justify;
    flex-direction: column;
	//  }
}


.projectDetail__closeBtn{

   // position: absolute;
   // right: 15px;
   // top: 20px;

	  background-color: rgba(0,0,0,0); 
    border: none;
    color: black;
    padding: 10px 10px;
    //text-align: center;
    text-decoration: none;
    //display: inline-block;
    font-family:$raleway_font;
  	font-size: 30px;

}

.projectDetail__closeBtn:hover{

	background-color:$light-clr;
	color: white;
	border-radius:  30px;
}

.projectDetail__title{
  margin-top:5%;
  margin-left:20%;
	font-family:$raleway_font;
	font-size:  $font-lrg;
	@media all and (max-width: $mobile-app-width) {
		text-align: center;
	  }
}

.projectDetail__description{
  max-width: 60%;
	font-family: $raleway_font;
  font-size:$font-sm;
  line-height:2.3rem;
  margin:0 5%;
  align-self: center;
  

	//@media all and (max-width: $mobile-app-width) {
    //text-align: center;
    font-size:12pt;
    //max-width: 100%;
   // margin:0;
    margin-top:10%;
	 // }
}
.projectDetail__facts{

	background-color: $accent-clr;
	max-width: 30%;
	padding:30px;
	margin:50px 50px;

}
////////////////////////////////


.project-detail-container {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background-color:rgba(0,0,0,.85);

  .project-detail-bkg{
    position: absolute;
    z-index:-1000;
    width: 100%;
    height:100%;
    background-color: $black;
    opacity: 0.85;
  }

  .project-detail-container{
    background-color:$white;
    position: relative;
    top: 50%;
    transform: translateY(-45%);
    
    @media all and (max-width: 1050px) {
      transform: translateY(-35%);
  }

    .close-btn{
      float:right;
      height:30px;
      background-color: transparent;
      padding: 15px;
      @media all and (max-width: 1050px) {
        height:20px;
        padding-top: 10px;
        padding-right: 30px;}

    }

    .project-content{
      display:flex;
      align-items: flex-start;
      width:100%;
      margin: 15px;
      padding-top: 10px;



      @media all and (max-width: 775px) {width:100%;}

      .project-image{
        flex-shrink: 0;
        width:40%;
        background-color: $gray;
        vertical-align:sub;

        @media all and (max-width: 775px) {display:none;}
      }


      .project-copy{
        padding-left: 15px;
        padding-right: 15px;
        margin-left:20px;
        margin-right: 15px;
        overflow: hidden;

        @media all and (max-width: 775px) {
          margin: -70px auto;

        }
        .project-title{

          color: $black;
          font-family: $raleway_font;
          font-size:30pt;
          letter-spacing: $letter-space;
          margin-bottom: -10px;
          margin-top:0px;
          @media all and (max-width: 775px) {
            margin-bottom: -10px;
            margin-top:35px;
            font-size:18pt;
          }
          @media all and (max-width: 300px) {
            margin-bottom: -10px;
            margin-top:60px;
            font-size:18pt;
          }

        }

        .project-subtitle{
          text-align: left;
          color:$black;
          font-size: 12pt;
          font-family: $raleway_font;
          text-transform:uppercase;
          letter-spacing: $letter-space;
          padding-right: 15px;
          @media all and (max-width: 775px) {
              font-size:8pt;
              line-height: 12px;
          }
        }


        .project-description{
          color: $black;

          font-size:12pt;
          font-family: $raleway_font;;
          text-align: left;
          margin-right:30px;
          max-height: 600px;
          overflow-y: scroll;

          @media all and (max-width: 775px) {

            font-size:10pt;
            line-height: 15px;
          }
          @media all and (max-width: 350px) {
            max-height: 200px;

          }

        }
        ::-webkit-scrollbar {
          width: 0px;  /* remove scrollbar space */
          background: transparent;  /* optional: just make scrollbar invisible */
      }
    }
  }
  }



}
