
.projectDetail__Overlay{



  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.85);


  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
   -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
       animation: fadein 1s;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.projectDetail__Modal{
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;

}

.projectDetail__carousel{

    margin: auto;
    width:85%;
  
}

.projectDetail_Slide{

    height:400px;
    margin:auto;
   background-color: white; 
  img,video{
    width:100%;
    height: 100%; 
    object-fit: contain;
   }

}
.projectDetail__info{

	display:flex;
	justify-content: space-between;
	width:100%;
	align-items: center;

	@media all and (max-width: $mobile-app-width) {
		align-items: center;
		flex-direction: column;
	  }
}
.projectDetail__closeBtn{

    position: absolute;
    right: 15px;
	  background-color: rgba(0,0,0,0); 
    border: none;
    color: black;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:$raleway_font;
  	font-size: 20px;

}

.projectDetail__closeBtn:hover{

	background-color:$light-clr;
	color: white;
	border-radius:  30px;
}

.projectDetail__title{
  margin-top:30px;
	font-family:$raleway_font;
	font-size:  $font-lrg;
	@media all and (max-width: $mobile-app-width) {
		text-align: center;
	  }
}

.projectDetail__description{
	max-width: 70%;
	font-family: $raleway_font;
	font-size:10pt;
	
	@media all and (max-width: $mobile-app-width) {
		text-align: center;
	  }
}
.projectDetail__facts{

	background-color: $accent-clr;
	max-width: 30%;
	padding:30px;
	margin:50px 50px;

}
////////////////////////////////


.project-detail-container {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background-color:rgba(0,0,0,.85);

  .project-detail-bkg{
    position: absolute;
    z-index:-1000;
    width: 100%;
    height:100%;
    background-color: $black;
    opacity: 0.85;
  }

  .project-detail-container{
    background-color:$white;
    position: relative;
    top: 50%;
    transform: translateY(-45%);
    @media all and (max-width: 1050px) {
      transform: translateY(-35%);
  }

    .close-btn{
      float:right;
      height:30px;
      background-color: transparent;
      padding: 15px;
      @media all and (max-width: 1050px) {
        height:20px;
        padding-top: 10px;
        padding-right: 30px;}

    }

    .project-content{
      display:flex;
      align-items: flex-start;
      width:100%;
      margin: 15px;
      padding-top: 10px;



      @media all and (max-width: 775px) {width:100%;}

      .project-image{
        flex-shrink: 0;
        width:40%;
        background-color: $gray;
        vertical-align:sub;

        @media all and (max-width: 775px) {display:none;}
      }


      .project-copy{
        padding-left: 15px;
        padding-right: 15px;
        margin-left:20px;
        margin-right: 15px;
        overflow: hidden;

        @media all and (max-width: 775px) {
          margin: -70px auto;

        }
        .project-title{

          color: $black;
          font-family: $raleway_font;
          font-size:30pt;
          letter-spacing: $letter-space;
          margin-bottom: -10px;
          margin-top:0px;
          @media all and (max-width: 775px) {
            margin-bottom: -10px;
            margin-top:35px;
            font-size:18pt;
          }
          @media all and (max-width: 300px) {
            margin-bottom: -10px;
            margin-top:60px;
            font-size:18pt;
          }

        }

        .project-subtitle{
          text-align: left;
          color:$black;
          font-size: 12pt;
          font-family: $raleway_font;
          text-transform:uppercase;
          letter-spacing: $letter-space;
          padding-right: 15px;
          @media all and (max-width: 775px) {
              font-size:8pt;
              line-height: 12px;
          }
        }


        .project-description{
          color: $black;

          font-size:12pt;
          font-family: $raleway_font;;
          text-align: left;
          margin-right:30px;
          max-height: 600px;
          overflow-y: scroll;

          @media all and (max-width: 775px) {

            font-size:10pt;
            line-height: 15px;
          }
          @media all and (max-width: 350px) {
            max-height: 200px;

          }

        }
        ::-webkit-scrollbar {
          width: 0px;  /* remove scrollbar space */
          background: transparent;  /* optional: just make scrollbar invisible */
      }
    }
  }
  }



}
