<header class = "navbar navbar-fixed-top" >
	<div class = "container">
		<nav>
		 <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "PR",   '#' %></li>
            <li><%= link_to "WORK",   '#' %></li>
            <li><%= link_to "CONTACT", '#' %></li>
          </ul>
		</nav>
</header>
