@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed|Montserrat');

$font-title:  'Canela-Regular';
$font-bold:   'FoundersGroteskCond-Bold';
$font-normal: 'FoundersGrotesk-Light';
$font-italic: 'FarnhamDisplay-RegularItal';

$header_font:'Raleway', sans-serif;

// Colors
$black:       #000000;

$light-gray:  #a7a9ac;
$gray:        #808285;
$dark-gray:   #818285;
$darker-gray:  #231f20;
$white:       #ffffff;
$red:         #ee566c;

$letter-space: 1px;
